body{
	font-family: sans-serif;
	font-size: max(2vh, 2rem);
}

.wrapper{
	max-width: 50vw;
	margin: auto;
}
.position-wrapper{
	height: 300vh;
}

.fixed{
	top: 0;
	right: 0;
	left: 0;

	padding: 2rem;

	color: white;
	background-color: red;
}
.relative{
	position: relative;
	top: 20vh;
	left: 20vh;

	display: inline-block;

	padding: 2rem;

	border: 1px black solid;
}
.absolute{
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
}
.end-of-the-page{
	margin-top: 300vh;
	margin-bottom: 5vH;
}


.sticky{
	h2{
		position: sticky;
		margin: 0;
		padding: 0.83em 0;
		top: 0;
		right: 0;
		left: 0;

		background-color: white;
	}
}
